<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.2/css/bootstrap.min.css">
</head>
<body>
<div class="p-3">
    <div class="card">
        <div class="card-header">List of Patients</div>
        <div class="card-body">
            <form method="get" th:action="@{index}">
                <label>Keyword</label>
                <input type="text" name="kw" th:value="${keyword}">
                <button type="submit" class="btn btn-info">Search</button>
            </form>
            <table class="table">
                <thead>
                <tr class="table-header">
                    <th>ID</th>
                    <th>Name</th>
                    <th>Birth Date</th>
                    <th>Sick</th>
                    <th>Score</th>
                </tr>
                <tr th:each="p:${ListPatients}">
                    <td th:text="${p.id}"></td>
                    <td th:text="${p.name}"></td>
                    <td th:text="${p.birthDate}"></td>
                    <td th:text="${p.sick}"></td>
                    <td th:text="${p.score}"></td>
                    <td>
                        <a th:href="@{delete(id=${p.id})}" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
                </thead>
            </table>
            <ul class="nav nav-pills">
                <li th:each="page,status:${pages}">
                    <a th:href="@{/index(page=${status.index}, kw=${keyword})}"
                       th:class="${currentPage==status.index?'btn btn-info ms-1':'btn btn-outline-info ms-1'}"
                       th:text="${status.index}"></a>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>